/**
*
*
**   ██╗   ██╗ █████╗ ██╗     ███████╗██████╗ ██╗ ██████╗  ██████╗ ██████╗ ██████╗ ██████╗  █████╗    ██╗████████╗
**   ██║   ██║██╔══██╗██║     ██╔════╝██╔══██╗██║██╔═══██╗██╔════╝██╔═══██╗██╔══██╗██╔══██╗██╔══██╗   ██║╚══██╔══╝
**   ██║   ██║███████║██║     █████╗  ██████╔╝██║██║   ██║██║     ██║   ██║██████╔╝██║  ██║███████║   ██║   ██║   
**   ╚██╗ ██╔╝██╔══██║██║     ██╔══╝  ██╔══██╗██║██║   ██║██║     ██║   ██║██╔══██╗██║  ██║██╔══██║   ██║   ██║   
**    ╚████╔╝ ██║  ██║███████╗███████╗██║  ██║██║╚██████╔╝╚██████╗╚██████╔╝██║  ██║██████╔╝██║  ██║██╗██║   ██║   
**     ╚═══╝  ╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═╝╚═╝ ╚═════╝  ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚═════╝ ╚═╝  ╚═╝╚═╝╚═╝   ╚═╝
*
**   @author Valerio Corda
**   @email info@valeriocorda.it
**   @website https://valeriocorda.it
*
**   If you can dream it, I can code it.
*
*/

$color-green: #333D29;
$font-default: SocialVariable;
@font-face {
    font-family: SocialVariable;
    src: local("../../../../../webfont/ABCSocialVariable.woff2") format("woff2"), local("../../../../../webfont/ABCSocialVariable.woff") format("woff");
}