/**
*
*
**   ██╗   ██╗ █████╗ ██╗     ███████╗██████╗ ██╗ ██████╗  ██████╗ ██████╗ ██████╗ ██████╗  █████╗    ██╗████████╗
**   ██║   ██║██╔══██╗██║     ██╔════╝██╔══██╗██║██╔═══██╗██╔════╝██╔═══██╗██╔══██╗██╔══██╗██╔══██╗   ██║╚══██╔══╝
**   ██║   ██║███████║██║     █████╗  ██████╔╝██║██║   ██║██║     ██║   ██║██████╔╝██║  ██║███████║   ██║   ██║   
**   ╚██╗ ██╔╝██╔══██║██║     ██╔══╝  ██╔══██╗██║██║   ██║██║     ██║   ██║██╔══██╗██║  ██║██╔══██║   ██║   ██║   
**    ╚████╔╝ ██║  ██║███████╗███████╗██║  ██║██║╚██████╔╝╚██████╗╚██████╔╝██║  ██║██████╔╝██║  ██║██╗██║   ██║   
**     ╚═══╝  ╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═╝╚═╝ ╚═════╝  ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚═════╝ ╚═╝  ╚═╝╚═╝╚═╝   ╚═╝
*
**   @author Valerio Corda
**   @email info@valeriocorda.it
**   @website https://valeriocorda.it
*
**   If you can dream it, I can code it.
*
****************************************
*  SCSS TABLE OF CONTENTS
*   
*  1.0 - Variables
*  2.0 - Reset
*  3.0 - Fonts
*  4.0 - Globals
*  5.0 - Header
*  6.0 - Footer
*  7.0 - Home
*  8.0 - Category Page
*  9.0 - Product Page
*  10.0 - About Page
*  -1.0 - Responsive
*
***
*/


/* ==========================================================================
   1.0  Variables
   ========================================================================== */

$color-green: #333D29;
$color-white: #f4f4f4;

/* ==========================================================================
    2.0 - Reset
   ========================================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

thead,
tbody,
tfoot,
tr,
td,
th,
table {
    border: none !important;
}

a {
    color: unset;
    text-decoration: none;
    &:hover {
        color: unset;
    }
}

*:focus,
*:focus-visible,
*:focus-within,
.btn-close:focus {
    outline: none;
    box-shadow: none;
}

ol,
ul,
dl {
    margin-bottom: 0;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

* {
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
    cursor: auto;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.container {
    max-width: calc(100% - 120px);
    width: calc(100% - 120px);
    margin: 0 auto;
}

.container-element-dynamic {
    display: none;
}

ul {
    list-style: none;
    padding-left: 0;
}


/* ==========================================================================
    3.0 - Fonts
========================================================================== */

$font-default: SocialVariable;
@font-face {
    font-family: SocialVariable;
    src: url("../../../../../webfont/ABCSocialVariable.woff2") format("woff2"), url("../../../../../webfont/ABCSocialVariable.woff") format("woff");
}


/* ==========================================================================    
    4.0 - Globals
    ========================================================================== */

body {
    font-family: $font-default;
    color: $color-white;
    background-color: $color-green;
    font-weight: 400;
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}


/* ==========================================================================
    5.0 - Header
   ========================================================================== */

#lc-header {
    .site-header {
        padding: 12px 0;
        .container {
            .row {
                align-items: center;
                justify-content: space-between;
                .container {
                    &-left,
                    &-right {
                        width: fit-content;
                    }
                    &-right {
                        &-menu {
                            padding: 0;
                            &-dynamic {
                                .menu-primarymenu-container {
                                    ul {
                                        display: flex;
                                        gap: 8px;
                                        li {
                                            &.current_page_item {
                                                text-decoration: underline;
                                                font-weight: 600;
                                            }
                                            &:hover {
                                                cursor: pointer;
                                                a {
                                                    font-weight: 600;
                                                }
                                                transition: all .6s;
                                            }
                                            &:not(:last-child) {
                                                position: relative;
                                                padding: 0px 8px 0px 4px;
                                                &::after {
                                                    content: "/";
                                                    position: absolute;
                                                    right: -4px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* ==========================================================================
    6.0 - Footer
   ========================================================================== */


/* ==========================================================================
    7.0 - Home
   ========================================================================== */


/* 7.1 - Home -> Intro */

.container-animation-intro {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-green;
    section.container-intro-page.container-intro-page-hero {
        height: 100%;
        width: 100%;
        .images {
            border-radius: 1.5rem;
            --duration: 40s;
            --name: float-up-1;
            position: absolute;
            top: 0;
            left: 0;
            width: 33vw;
            transform: translateY(200vh);
            animation: var(--name) var(--duration) linear infinite;
            z-index: 1;
            &.video {
                min-height: 60vh;
                height: auto;
                overflow: hidden;
                video {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            &:nth-child(1) {
                animation-delay: 0s;
            }
            &:nth-child(2) {
                animation-delay: -3s;
            }
            &:nth-child(3) {
                animation-delay: -6s;
            }
            &:nth-child(4) {
                animation-delay: -9s;
            }
            &:nth-child(5) {
                animation-delay: -12s;
            }
            &:nth-child(6) {
                animation-delay: -15s;
            }
            &:nth-child(7) {
                animation-delay: -18s;
            }
            &:nth-child(1) {
                --name: float-up-1;
                --duration: calc(20s * 1);
                left: 2vw;
                z-index: -1;
            }
            &:nth-child(2) {
                --name: float-up-3;
                --duration: calc(20s * 3);
                left: 10vw;
                z-index: -3;
            }
            &:nth-child(3) {
                --name: float-up-2;
                --duration: calc(20s * 2);
                left: 42vw;
                z-index: -2;
            }
            &:nth-child(4) {
                --name: float-up-1;
                --duration: calc(20s * 1);
                left: 36vw;
                z-index: -1;
            }
            &:nth-child(5) {
                --name: float-up-3;
                --duration: calc(20s * 3);
                left: 62vw;
                z-index: -3;
            }
            &:nth-child(6) {
                --name: float-up-2;
                --duration: calc(20s * 2);
                left: 15vw;
                z-index: -2;
            }
            &:nth-child(7) {
                --name: float-up-2;
                --duration: calc(20s * 2);
                left: 55vw;
                z-index: -2;
            }
            /* &:nth-child(8) {
                animation-delay: -21s;
            }
            &:nth-child(9) {
                animation-delay: -24s;
            }
            &:nth-child(10) {
                animation-delay: -27s;
            }
            &:nth-child(11) {
                animation-delay: -30s;
            } */
            /* &:nth-child(8) {
                --name: float-up-3;
                --duration: calc(20s * 3);
                left: -vw;
                z-index: -3;
            }
            &:nth-child(9) {
                --name: float-up-1;
                --duration: calc(20s * 1);
                left: 62vw;
                z-index: -1;
            }
            &:nth-child(10) {
                --name: float-up-2;
                --duration: calc(20s * 2);
                left: 0vw;
                z-index: -2;
            }
            &:nth-child(11) {
                --name: float-up-3;
                --duration: calc(20s * 2);
                left: 52vw;
                z-index: -2;
            }
            &:nth-child(7) video {
                border-bottom-left-radius: 1.5rem;
                border-bottom-right-radius: 1.5rem;
            }
            &:nth-child(8) {
                --name: float-up-3;
                --duration: calc(20s * 3);
                left: 18vw !important;
                z-index: -3;
            }
            &:nth-child(10) {
                --name: float-up-2;
                --duration: calc(20s * 2);
                left: 24vw !important;
                z-index: -2;
            } */
        }
        @keyframes float-up-3 {
            from {
                transform: translateY(200vh) translateZ(-50vh);
            }
            to {
                transform: translateY(-200vh) translateZ(-50vh);
            }
        }
        @keyframes float-up-2 {
            from {
                transform: translateY(150vh) translateZ(-25vh);
            }
            to {
                transform: translateY(-150vh) translateZ(-25vh);
            }
        }
        @keyframes float-up-1 {
            from {
                transform: translateY(100vh);
            }
            to {
                transform: translateY(-100vh);
            }
        }
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 200px;
        width: 60vw;
        transform: translate(-50%, -50%);
        z-index: 99;
        background-color: red;
    }
}


/* ==========================================================================
    8.0 - Category Page
   ========================================================================== */


/* ==========================================================================
    9.0  - Product Page
   ========================================================================== */


/* ==========================================================================    
    10.0 - About Page
   ========================================================================== */


/* ==========================================================================		
    -1 - Responsive
   ========================================================================== */


/* XXX-Large devices (large desktops, less than 1800px) */

@media (max-width: 1799.98px) {}


/* XX-Large devices (large desktops, less than 1600px) */

@media (max-width: 1599.98px) {}


/* X-Large devices (large desktops, less than 1400px) */

@media (max-width: 1399.98px) {}


/* Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {}


/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {}


/* Small devices (landscape phones, less than 768px) */

@media (max-width: 768.98px) {}


/* Small applies to x-small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {}


/* Small applies to x-small devices (portrait phones, less than 321px) */

@media (max-width: 320.98px) {}